*

!.gitignore
!.gitattributes

!.github/
!.github/workflows/
!.github/workflows/*.yml
!.github/ISSUE_TEMPLATE/

!LICENSE-*
!README.md

!.cargo/

!examples/

!src/
!src/**/

!*.rs
!*.toml
!*.md

!.env.template
